ErrorDocument 404 /404.html

<IfModule mod_headers.c>
    # Bezpečnostní HTTP hlavičky
    Header set X-Content-Type-Options "nosniff"
    Header set X-XSS-Protection "1; mode=block"
    Header set Referrer-Policy "strict-origin-when-cross-origin"
</IfModule>
